body {
  margin: 0;
  background: rgb(27, 32, 34);
  font-family: Source Sans Pro, Segoe UI, -apple-system, BlinkMacSystemFont,
    Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, trebuchet MS, Arial,
    sans-serif;
  font-size: 15px;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1180px;
  margin: 10px auto;
}

a {
  color: #5ac8fa;
  cursor: pointer;
}

font {
  color: #5ac8fa;
}

img {
  max-width: 100%;
  width: auto;
}
