.container {
  padding: 12px 10px 18px 10px;
  text-align: right;
  a:not(:last-child) {
    margin-right: 6px;
  }
}

.highlight {
  font-weight: bold;
  font-size: 20px;
}

@media screen and (min-width: 769px) {
  .container {
    padding: 24px 0;
  }
}
