.switcher {
  position: relative;
  height: 100vh;
  margin: 0 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.switcher > div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: rgb(204, 198, 192);
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner > div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 200px auto 0;
  text-align: center;
}

.spinner > div > div{
  width: 18px;
  height: 18px;
  background-color: #CCC6C0;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner div:nth-child(1) {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner div:nth-child(2) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

/** NEXT TRANSITION **/

:global(.next) :global(.fade-enter) {
  transform: translateX(100%);
  opacity: 0;
}

:global(.next) :global(.fade-enter-active) {
  transform: translateX(0%);
  opacity: 1;
  transition: all 500ms;
}

:global(.next) :global(.fade-leave) {
  transform: translateX(0%);
  opacity: 1;
}

:global(.next) :global(.fade-leave-active) {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms;
}

/** BACK TRANSITION **/

:global(.back) :global(.fade-enter) {
  transform: translateX(-100%);
  opacity: 0;
}

:global(.back) :global(.fade-enter-active) {
  transform: translateX(0%);
  opacity: 1;
  transition: all 500ms;
}

:global(.back) :global(.fade-leave) {
  transform: translateX(0%);
  opacity: 1;
}

:global(.back) :global(.fade-leave-active) {
  transform: translateX(100%);
  opacity: 0;
  transition: all 500ms;
}

/* ADMIN PANEL */

.admin {
  text-align: center;
  padding-top: calc((100vh - 380px)/2);
}

.admin:before {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  content: "ADMIN PANEL";
  font-size: 32px;
  color: rgb(70, 70, 70);
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.admin:after {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  content: "🎖 CONGRATS: LEVEL 2 UNLOCKED!";
  font-size: 26px;
  color: rgb(86, 160, 214);
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.login {
  text-align: center;
  padding-top: calc((100vh - 380px)/2);
  color: red !important;
  font-size: 26px;
  text-shadow: 1px 1px 1px #000;
}

/* NOT FOUND */

.notFound {
  background: #141414;
  border: 1px solid rgb(30, 30, 30);
  box-sizing: border-box;
  padding: 10px;
  color: red !important;
  font-size: 32px;
  text-shadow: 1px 1px 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
