.comment {
  padding: 6px;
  background-color: #23282a;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.comment__text {
  padding: 10px 15px;
}

.comment__meta {
  div {
    display: inline-block;
    padding: 7px 5px 10px;
  }
  .time {
    color: #888;
    float: right;
  }
  .order {
    padding: 7px 10px 10px;
  }
}
