.comment {
  padding: 6px;
  background-color: #23282a;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.title {
  color: #5ac8fa;
  margin-bottom: 15px;
  margin-top: 30px;
  padding: 0 5px;
}

.comment__text {
  padding: 10px 5px;
  pre {
    width: 98% !important;
    max-width: 300px;
  }
}

.comment__meta {
  div {
    display: inline-block;
    padding: 7px 5px 10px;
  }
  .time {
    color: #888;
    float: right;
  }
  .order {
    padding: 7px 10px 10px;
  }
}

@media screen and (min-width: 769px) {
  .title {
    margin-top: 0;
  }

  .comment__text {
    padding: 10px 5px;
    pre {
      width: 98% !important;
      max-width: 640px;
    }
  }
}
